
/* All other browsers */
/* Sent to all browsers except IE3 */

BODY {
	font-family: Helvetica !important;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0;
	font-size: 12pt;
	line-height: 1.2;	
	color: black !important;
	background: white !important;
}

SPAN {
	font-family: Helvetica !important;
	font-size:12pt;
}

PRE {
	white-space:pre;
	}

